<h1 class='band-header'><%= @band.name %></h1>

<h2 class='member-header'> Band Members </h2>
<div class='all-members'>
    <% @band.members.each do |member| %>
        <div class='member'><%= member.name%></div>
    <% end %>
</div>

<h2 class='album-header'> Albums </h2>
<div class='all-albums'>
    <% @band.albums.each do |album| %>
    <div class='single-album'><%= album.name%>
        <div class='songs-list'>
        <% album.songs.each do |song| %>
            <div class='song-name'> <%= song.name%></div>
        <% end %>
        </div>
    <% end %>
</div>